.container{
    border: 1px solid black;
}

 .left{
    margin: auto;
    text-align: left;
 }
.center{
     margin: auto;
    text-align: center;
}
.input-form{
    border: 1px solid blue;
    width: 600px;
    height: 350px;
    margin: auto;
    border-radius: 1px;
    font-size: 16px;
    text-align: justify;
}


.dashboard-form{
    border: 1px solid blue;
    margin: auto;
    border-radius: 1px;
    font-size: 14px;
    text-align: justify;
}


.btn-link {
  /* padding and margins to behave correctly */
  display: inline-block;    
  
  /* dimensions and spacing */
  padding: 4px 10px;
  
  /* Adjustments */
  text-decoration: none; /* Removes the default underline */
  font-family: sans-serif;
  font-weight: bold;
  
  /* Coloured Button  */
  background-color: #007bff;
  color: #ffffff;
  border-radius: 4px;
  
  /* Interactive transition */
  transition: background-color 0.2s ease;
  cursor: pointer;
}

/* Hover state for user feedback */
.btn-link:hover {
  background-color: #0056b3;
}

/* red Button  */
.btn-danger{
  background-color: maroon;
  color: #ffffff;
  border-radius: 4px;
}

/* green Button  */
.btn-done{
  background-color: darkgreen;
  color: #ffffff;
  border-radius: 4px;
}

/* black Button  */
.btn-blacklist{
  background-color: rgb(28, 25, 25);
  color: #ffffff;
  border-radius: 4px;
}