.container{
    border: 1px solid black;
}

 .left{
    margin: auto;
    text-align: left;
 }
.center{
     margin: auto;
    text-align: center;
}
.input-form{
    border: 1px solid blue;
    width: 600px;
    height: 350px;
    margin: auto;
    border-radius: 1px;
    font-size: 16px;
    text-align: justify;
}


.dashboard-form{
    border: 1px solid blue;
    margin: auto;
    border-radius: 1px;
    font-size: 14px;
    text-align: justify;
}


