<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
    <div class="center">
        <h2>Adim Dashboard</h2>
    </div>
    <div>
        <input type="text" name=" search text"> | <input type="button" value="Search">
    </div>

    <div class="input-form">
        <form class="dashboard-form"> 
            <h3> Admin Dashboard</h3>
            <table class="center" name="Doctors" border="1">
            <caption>Registered Doctors</caption>
            <tr><td>Doctor name</td><td><input type="button" value="Edit"></td><td><input type="button" value="Delete"></td><td><input type="button" value="Blacklist"></td></tr>
            <tr><td>Doctor name</td><td><input type="button" value="Edit"></td><td><input type="button" value="Delete"></td><td><input type="button" value="Blacklist"></td></tr>
            </table>

            <table class="center" name="Patients" border="1">
            <caption>Registered Patients</caption>
            <tr><td>Patient name</td><td><input type="button" value="Edit"></td><td><input type="button" value="Delete"></td><td><input type="button" value="Blacklist"></td></tr>
            <tr><td>Patient name</td><td><input type="button" value="Edit"></td><td><input type="button" value="Delete"></td><td><input type="button" value="Blacklist"></td></tr>
            </table>

            <table class="center" name="Upcoming Appointments" border="1">
            <caption>Registered Patients</caption>
            <tr><td>Patient name</td><td>Doctor name</td><td>Doctor Specialization</td><td><input type="button" value="View"></td><tr>
            <tr><td>Patient name</td><td>Doctor name</td><td>Doctor Specialization</td><td><input type="button" value="View"></td><tr>
            </table>
      
        </form>
    </div>

</body>
</html>