<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_dashboard</title>

    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="container">
        <div class="center"><h1>Welcome to ABC Hospital</h1></div>
        <div style="text-align: right;"><input type="text" name="searchtext"> | <input type="button" value="Search"></div>
        <div class="dashboard-form">
            <div class="input-form">
                <h3 class="center">Admin Dashboard</h3>
                <table class="center" name="Doctors" border="1">
                    <caption>Registered Doctors</caption>
                    <tr><td>Doctor name</td><td><input type="button" value="edit"></td><td><input type="button" value="delete"></td><td><input type="button" value="blacklist"></td></tr>
                    <tr><td>Doctor name</td><td><input type="button" value="edit"></td><td><input type="button" value="delete"></td><td><input type="button" value="blacklist"></td></tr>
                </table>
                <table class="center" name="Patients" border="1">
                    <caption>Registered Patients</caption>
                    <tr><td>Patient name</td><td><input type="button" value="edit"></td><td><input type="button" value="delete"></td><td><input type="button" value="blacklist"></td></tr>
                    <tr><td>Patient name</td><td><input type="button" value="edit"></td><td><input type="button" value="delete"></td><td><input type="button" value="blacklist"></td></tr>
                </table>
                <table class="center" name="Upcoming Appointments" border="1">
                    <caption>Upcoming Appointments</caption>
                    <tr><td>Sr No</td><td>Patient Name</td><td>Doctor Name</td><td>Department</td><td>Patient History</td><td><button onclick="window.location.href='patient_details.html'">View</button></td></tr>
                    <tr><td>Sr No</td><td>Patient Name</td><td>Doctor Name</td><td>Department</td><td>Patient History</td><td><button onclick="window.location.href='patient_details.html'">View</button></td></tr>
                </table>
            </div>
        </div>
        <div class="center">Copyright reserved to ABC Hospitals,©2026</div>
    </div>
</body>
</html>