<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <nav class="container">
        <div class="center"><h1>Welcome to ABC Hospital</h1></div>
    </nav>

    <main>

        {% block content %}
        <!------sub html will be inserted here-->
        {% endblock %}
    </main>

    <footer class="center">
        Copyright reserved to ABC Hospitals,©2026
    </footer>
</body>
</html>



        