{% extends "base.html" %}
{% block content %} 
    <div class="dashboard-form">
        <div class="input-form">
            <div>
                <h3>Department_name</h3>
                <button style="text-align: right;">edit profile</button>
                <button style="text-align: right;">history</button>
                <button style="text-align: right;">logout</button>
            </div>
            
            <input type="text" value="Overview">
            <table>
                <caption>Doctor's List</caption>
                <tr><td></td><td><button>chck_availability</button></td><td><button>view_details</button></td></tr>
            </table>
        </div>
    </div>
{% endblock %}