<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="container">
        <div class="center">
            <h1>Welcome to ABC Hospital</h1>
        </div>
        <div class="input-form">
            <form>
                <h3 class="center">Login</h3>
                <table class="center">
                <tr><td><label>Email: </label></td><td><input type="email" name="emailid"></td></tr>
                <tr><td><label>Password: </label></td><td><input type="password" name="password"></td></tr>
                <tr><td><input type="button" value="Login"></td><td><a href="signup.html">New User?</a></td></tr> 
                </table>
            </form>
        </div>
    </div>
    
    
    
</body>
</html>