<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="center">
            <h2>Welcome To ABC Hospital</h2>
        </div>

        <div class="input-form">
            <form class="center">
                <h3>Login Form</h3>
                <table class="center">
                    <tr><td><label>Full Name:</label><td><input type="text" name="fname"></td></tr>
                    <tr><td><label>Phone No:</label></td><td><input type="number" name="pnum"></td></tr>
                    <tr><td><label>Password:</label></td><td><input type="password" name="pwd"></td></tr>
                    <tr><td><input type="button" value="Login"></td><td><a href="/templates/register.html">New user? Register</a></td></tr>
                </table>
            </form>

        </div>
    </div>
</body>
</html>