{% extends "base.html" %}
{% block content %} 
        <div style="text-align: right;"><button onclick="window.location.href='{{url_for('admin_dashboard')}}'">Back</button></div>
        <div class="dashboard-form">
            <div>
                <h3 class="center">Admin Dashboard</h3>
                <div>
                    <table style="text-align: left;">
                        <caption><b>Patient History</b></caption>
                        <tr><td>Patient name: </td><td>xxxx</td></tr>
                        <tr><td>Doctors' name: </td><td>yyyy</td></tr>
                        <tr><td>Department: </td><td>zzzz</td></tr>
                    </table>
                </div>
                <br>
                <div>
                    <table class="center" name= "p_history" border="1">
                        <tr><th>Visit No</th><th>Visit_date</th><th>Visit Type</th><th>Tests Done</th><th>Diagnosis</th><th>Prescription</th><th>Medicines</th></tr>
                    </table>
                </div>
            </div>
        </div>
{% endblock %} 

