{% extends "base.html" %}
{% block content %} 
        <div style="text-align: right;"><input type="text" name="searchtext"> | <input type="button" value="Search"></div>
        <div class="dashboard-form">
            <div class="input-form">
                <form>
                <h3 class="center">Patient Dashboard</h3>
                <table class="center" name="Doctors" border="1">
                    <caption>Registered Doctors</caption>
                    <tr><td>Doctor name</td><td>approved</td><td><input type="button" value="edit"></td><td><input type="button" value="delete"></td><td><input type="button" value="blacklist"></td></tr>
                    <tr><td>Doctor name</td><td>approved</td><td><input type="button" value="edit"></td><td><input type="button" value="delete"></td><td><input type="button" value="blacklist"></td></tr>
                </table>
                <table class="center" name="Patients" border="1">
                    <caption>Registered Patients</caption>
                    <tr><td>Patient name</td><td><input type="button" value="edit"></td><td><input type="button" value="delete"></td><td><input type="button" value="blacklist"></td></tr>
                    <tr><td>Patient name</td><td><input type="button" value="edit"></td><td><input type="button" value="delete"></td><td><input type="button" value="blacklist"></td></tr>
                </table>
                <table class="center" name="Upcoming Appointments" border="1">
                    <caption>Upcoming Appointments</caption>
                    <tr><th>SrNo</th><th>Patient Name</th><th>Doctor Name</th><th>Department</th><th>Patient History</th><th>Action</th></tr>
                    <!----{% for d in app_data %}
                        <tr><td>{{d.SrNo}}</td><td>{{d.p_name}}</td><td>{{d.d_name}}</td><td>{{d.spz}}</td><td><a href="{{ url_for('patient_details')}}">Patient History</a></td><td><input type="button" value="View"></td></tr>
                    {% endfor %}--->
                </table>
                </form>
            </div>
        </div>
{% endblock %}