<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient details</title>

    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="container">
        <div class="center"><h1>Welcome to ABC Hospital</h1></div>
        <div style="text-align: right;"><button onclick="window.location.href='admin_dashboard.html'">Back</button></div>
        <div class="dashboard-form">
            <div>
                <h3 class="center">Admin Dashboard</h3>
                <div>
                    <table style="text-align: left;">
                        <caption><b>Patient History</b></caption>
                        <tr><td>Patient name: </td><td>xxxx</td></tr>
                        <tr><td>Doctors' name: </td><td>yyyy</td></tr>
                        <tr><td>Department: </td><td>zzzz</td></tr>
                    </table>
                </div>
                <br>
                <div>
                    <table name= "p_history" border="1">
                        <tr><th>Visit No</th>
                            <th>Visit Type</th>
                            <th>Tests Done</th>
                            <th>Diagnosis</th>
                            <th>Prescription</th>
                            <th>Medicines</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="center">Copyright reserved to ABC Hospitals,©2026</div>
    </div>
</body>
</html>