<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="center">
            <h2>Welcome To ABC Hospital</h2>
        </div>

        <div class="input-form">
            <form class="center">
                <h3>Register Form</h3>
                <table class="center">
                    <tr><td><label>Full Name:</label><td><input type="text" name="fname"></td></tr>
                    <tr><td><label>Phone No:</label></td><td><input type="number" name="pnum"></td></tr>
                    <tr><td><label>Email ID:</label></td><td><input type="email" name="emailid"></td></tr>
                    <tr><td><label>User Type:</label></td><td><input type="text" name="utype"></td></tr>
                    <tr><td><label>Address:</label></td><td><input type="text" name="address"></td></tr>
                    <tr><td><label>Password:</label></td><td><input type="password" name="pwd"></td></tr>
                    <tr><td><input type="button" value="Sign Up"></td><td><a href="/templates/login.html">Existing User?</a></td></tr>
                </table>
            </form>

        </div>
    </div>
</body>
</html>













